header {
    background-color: black;
    opacity: 50%;
    padding: 0px 0px;
    border-radius: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul,
li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

h1 {
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, rgba(15, 18, 23, 1), rgba(46, 22, 18, 1), rgba(92, 42, 9, 1), rgba(226, 120, 18, 1), rgba(238, 144, 74, 1), rgba(255, 210, 181, 1), rgba(184, 143, 115, 1), rgba(64, 71, 64, 1), rgba(24, 55, 58, 1), rgba(13, 100, 107, 1));
    background-size: 400% 400%;
    animation: cambiar 30s ease infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
footer {
    padding: 10px 30px;
}

.content {
    padding: 0px 45px;
    border-radius: 35px;
    text-align: justify;
}

.foot {
    padding: 30px 50px;
}

.que {
    display: flex;
}

.quees {
    text-align: center;
    color: rgb(54, 48, 48);
    background-color: rgba(129, 102, 102, 0.678);
    border-radius: 30px;
    width: 250px;
    padding: 0px 0px;
}

.queeso {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(129, 102, 102, 0.678);
    border-radius: 30px;
    width: 150px;
    padding: 0px 0px;
}

.piepagina {
    text-align: justify;
    background-color: rgba(5, 5, 5, 0.514);
    /* 
         */
    border-radius: 30px;
    padding: 0px 20px;
    right: 20px;
}

.widget {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 0;
    margin: 30px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget .icon-wrapper {
    width: 40px;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 30px;
    opacity: .8;
}

.widget .infos-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px;
}

.widget .infos-wrapper h4 {
    margin: 0;
    margin-bottom: 4px;
}

.widget .infos-wrapper p {
    margin: 0;
}

.col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.widget .icon-wrapper {
    width: 40px;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 30px;
    opacity: .8;
}

.text-primary {
    color: #f06161 !important;
}

.foot {
    background-color: rgb(10, 10, 10);
    padding: 0px 50px;
    border-radius: 0px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
}

.text1 {
    background-color: rgba(63, 56, 56, 0.185);
    border-radius: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image1 {
    float: right;
    border-radius: 50%;
    height: 200px;
    opacity: 80%;
}

#buttonreset {
    color: gray;
    background-color: aliceblue;
    border: 0px;
    border-radius: 20px;
}

#buttonreset:hover {
    background-color: aqua;
}

#comment {
    background-color: rgba(160, 93, 93, 0.466);
}

#comentario {
    color: black;
}

.label {
    color: black;
}